@charset "UTF-8";
        body {
            background-color: rgb(76, 80, 18);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: chartreuse; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 0cm;background-color:rgb(138, 146, 27) ;
        }
        h2 {
            color: rgb(112, 202, 21);
        }
        p {
            color: rgb(24, 194, 24);text-align: justify;
        }
    