@charset "UTF-8";

*{
    font-family: work sans,Arial, sans-serif;
    font-size: 1em
}
body{
background-image: linear-gradient(to right, #012340, #027333, #025939);
font-size: 1em
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #041818;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
color: #04D939;
text-align: center;
text-shadow: 1px 1px 0px #044040;
}

h2 {
color: #03A63C;
}

p {
    text-align: justify;
}
